@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway:300i');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
:root{
    --color-1: rgb(247, 249, 254);
    --color-2: rgb(236, 241, 242);
    --color-3: rgb(220, 232, 235);
    --color-4: rgba(203, 219, 224, 0.295);
    --color-5: rgb(190, 210, 217);
    --color-6: rgb(55, 86, 97);
}
body{
    background: content-box var(--color-1);
    display:flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--color-6);
}
.layer{
    background-image:url("resources/blue_noise.png");
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position:fixed;
    bottom:0;
    width:100%;
    height:15%;
}
.fixe{
    width:100%;
    height: 100px;
    background-color:var(--color-6);
    display:flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-5);
}
.burger{
    display:none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
#burgerIcon{
    width:40px;
    height:40px;
    color:var(--color-1);
}
.horiz{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.horiz li{
    width : 200px;
    height : 60px;
    padding : 20px;
    margin: 0 20px;
    background: var(--color-1);
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    border: 1px solid var(--color-5);
    border-radius: 10px;
}
.horiz li:hover , .horiz li:focus {
    -webkit-box-shadow: inset 0px 0px 10px 13px var(--color-4);
    -moz-box-shadow: inset 0px 0px 10px 13px var(--color-4);
    box-shadow: inset 0px 0px 10px 13px var(--color-4);
    cursor: pointer;
}
#responsive{
    width:100%;
    display:none; 
}
.vert{
    display:flex;
    flex-direction : column;
    align-items: center;
}
.vert li{
    list-style: none;
    font-size: 1.5rem;
    width:100%;
    height:auto;
    margin:0.5em;
    margin-bottom:0;
    vertical-align: middle;
    padding-bottom: 0.5em;
    padding-left : 5%;
    border-bottom:1px solid var(--color-5);
}
main{
    height:90%;
    width: 62.5%;
    align-self:center;
    display: flex;
    flex-direction: column;
}
#logo{
    padding: 1rem;
    margin: 1rem;
    margin-top:4rem;
    max-width:20%;
    align-self: center;
}
#imglogo{
    height:100%;
    width: 100%;
}
#welc_msg{
    height:auto;;
    text-align:center;
    margin-top: 0;
}
h1{
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
h3{
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#tete{
    max-width:50%;
    border: 1px solid var(--color-5);
}

/* -----Drop Down Button ----- */

.dropdown-content{
    display : none;
    position: relative;
    top:19px;
    left:-10px;
    background-color : var(--color-3);
    width: 180px;
    box-shadow: 0 8px 16px 0 var(--color-4);
    z-index: 1;
}
.dropdown-content a{
    background:var(--color-1);
    padding : 20px;
    text-decoration: none;
    color: var(--color-6);
    display: block;
    border: 1px solid var(--color-5);
}

.dropdown-content a:hover {
    -webkit-box-shadow: inset 0px 0px 10px 13px var(--color-4);
    -moz-box-shadow: inset 0px 0px 10px 13px var(--color-4);
    box-shadow: inset 0px 0px 10px 13px var(--color-4);
}
.show{
    display:block;
}
@media only screen and (min-width:671px) AND (max-width:920px){
    .horiz li{
        height:60px;
        width : 150px;
        margin : 0 10px;
    }
    .horiz li:hover , .horiz li:focus {
        -webkit-box-shadow: inset 0px 0px 10px 13px var(--color-4);
        -moz-box-shadow: inset 0px 0px 10px 13px var(--color-4);
        box-shadow: inset 0px 0px 10px 13px var(--color-4);
    }
    #logo{
        padding: 0;
    }
}
@media only screen and (max-width:670px){
    body{
        overflow-y:scroll;
    }
    .fixe{
        justify-content: flex-start;
        height:80px;
    }
    .burger{
        display: inline-block;
        align-self: center;
    }
    .horiz , .horiz li{
		display: none;
		width: 50%;
    }
    #logo{
        margin-top: 10%;
        min-width : 30%;
        padding: 0;
    }
    main{
        margin-bottom:15%;
    }
    #responsive{
        display : none;
    }
    .dropdown-content{
        position: inherit;
        background-color : var(--color-1);
        width: 100%;
        z-index: 1;
        box-shadow: none;

    }
    .dropdown-content a{
        background:var(--color-1);
        text-decoration: none;
        color: var(--color-6);
        display: block;
        width:95%;
        position:static;
        right:0;
        margin-top:0.5em;
        padding:0.2em;
        border:none;
        padding-top: 0.3em;
        padding-left: 0.5em;
        border:1px solid var(--color-5);
    }
    .dropdown{
        display:flex;
        flex-direction: column;
        border:none;
    }
    .myDropdown-exos-mobile, .myDropdown-contact-mobile{
        list-style: none;
        font-size: 1.5rem;
        height:auto;
        margin:0.5em;
        margin-bottom:0;
        vertical-align: middle;
        padding-bottom: 0.5em;
        padding-left : 0.5em;
        -webkit-box-shadow: inset 0px 0px 10px 13px var(--color-4);
        -moz-box-shadow: inset 0px 0px 10px 13px var(--color-4);
        box-shadow: inset 0px 0px 10px 13px var(--color-4);
        
    }
}
